<title>HomePage</title>
<p align="center">
    <a href="/"> Home</a> | <a href="/login">Log in</a>
</p>
<h1 align="center"><font size=10pt face="Arial">Ksenia Tsutsalevich</font></h1>
<h3 align="center"><font face="Arial">- back-end developer -</font></h3>

<h1 align="left"><font size=5pt face="Arial">About me</font></h1>
<h4 align="right"><font face="Arial">I'm a programmer from Belarus.</font></h4>

<p align="center">
    <a href="{{ url_for('download_resume') }}">View my resume</a>
</p>

<h1 align="left"><font size=5pt face="Arial">Contact information</font></h1>
<h4 align="center"><font face="Arial">Email||||||||||||||||||||Phone</font></h4>
<h4 align="center"><font face="Arial">ksyutsu@mail.ru|||||||||||||+375(44)777-77-77</font></h4>

<form name="resume" method="post" align="right">
    <input type="submit" value="GET TOUCH" style="color:yellow; background:black">
</form>
