<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Offer</title>
</head>
<body>
<h3 align="center"><font face="Arial">Enter your details to receive feedback</font></h3>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form align="center" action="" method="post">
        <p>
	    <label for="username">Name:</label>
	    <input type="text" name="username">
	</p>
	<p>
	    <label for="phone">Phone:</label>
	    <input type="text" name="phone">
	</p>
    <p>
	    <label for="email">Email:</label>
	    <input type="email" name="email">
	</p>

	<p>
	    <input type="submit" value="send" style="color:yellow; background:black">
	</p>
    </form>

</body>
</html>
